html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}


#myVideo {
	transition: opacity 1s ease;
	position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
	cursor: pointer;
}

@media (max-width: 480px) {
	video {
		display: none;
	}
}